<style media="screen">
  li {
    height : 100px;
    width: 100px;
    color: red;
    background-color: purple;
    margin-bottom: 30px;
  }
</style>

<h1>Types of {{burgers}}</h1>

<ul>
{{#each devourer }}
  <li>{{burgers}}</li>
{{/each}}
</ul>
